.header-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.header-container h1 {
  margin: 0;
}

.uuid-output {
    padding: 1rem;
    border-radius: 8px;
    font-family: monospace;
    font-size: 24pt;
    min-height: 40px;
    margin: 1rem 0;
}