<div class="container d-flex flex-column mt-2 justify-content-center">
    <h1><b>Kasi Setel!</b></h1>
    <h4><b>Today is:</b> {{date | date:'EEEE, dd MMMM yyyy'}}</h4>
    <h4>
        <b>Time is:</b> {{ time$ | async | date:'hh:mm:ss a':'Asia/Kuala_Lumpur' }}
        <small><small><small>(Malaysia Time GMT+8)</small></small></small>
    </h4>
    <p>Choose any to continue.</p>

    <div class="my-grid">
        <div class="box blue-background">
            <button matFab extended routerLink="/pomodoro">
                <mat-icon>timer</mat-icon>
                <span>Pomodoro Timer</span>
            </button>
        </div>
        <div class="box red-background">
            <button matFab extended class="red-fab" routerLink="/uuid-generator">
                <mat-icon>code</mat-icon>
                UUID Generator
            </button>
        </div>
        <div class="box green-background">
            <button matFab extended class="green-fab" routerLink="/world-clock">
                <mat-icon>access_time</mat-icon>
                World Clock
            </button>
        </div>
        <div class="box purple-background">
            <button matFab extended class="purple-fab" disabled>
                <mat-icon>assignment_turned_in</mat-icon>
                Task Tracker (wih motivation)
            </button>
        </div>
        <div class="box orange-background">
            <button matFab extended class="orange-fab" disabled>
                <mat-icon>class</mat-icon>
                Sratchpad
            </button>
        </div>
        <div class="box teal-background">
            <button matFab extended class="teal-fab" disabled>
                <mat-icon>error</mat-icon>
                TBD
            </button>
        </div>
    </div>
</div>