.app-container {
      height: 100vh;
}
.app-content {
    padding: 1rem;
}
mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spacer {
  flex: 1 1 auto; /* pushes right-section to far right */
}

.right-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-btn {
  display: flex;
  flex-direction: column;      // icon atas, text bawah
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 16px;          // adjust ikut taste
  min-width: 120px;             // fixed width supaya tak bujur panjang
  border-radius: 8px;           // cantik bulat sikit
}

.menu-btn mat-icon {
  font-size: 24px;
  margin-bottom: 4px;
}