
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'bootstrap/scss/bootstrap';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

:root{
  @include mat.toolbar-overrides((
    container-background-color: #8ccdff,
    container-text-color: black,
    title-text-font: Montserrat,
    title-text-weight: bold,
  ));
}

:root {
  // green style
  .green-button {
    @include mat.button-overrides((
      filled-container-color: #4caf50,
      filled-label-text-color: #ffffff,
    ));
  }

  // purple style
  .purple-button {
    @include mat.button-overrides((
      filled-container-color: #7700ff,
      filled-label-text-color: #ffffff,
    ));
  }

  .green-fab {
    @include mat.fab-overrides((
      container-color: #cfffd0,
      foreground-color: #047d08,
    ));
  }

  // purple style
  .purple-fab {
    @include mat.fab-overrides((
      container-color: #e4d2f9,
      foreground-color: #6703da,
    ));
  }

  .orange-fab {
    @include mat.fab-overrides((
      container-color: #ffd2aa,
      foreground-color: #ad5406,
    ));
  }

  .grey-fab {
    @include mat.fab-overrides((
      container-color: #c8c8c8,
      foreground-color: #4e4e4e,
    ));
  }
  
}

:root{
  .green-card {
    @include mat.card-overrides((
      elevated-container-color: #b1fdb4,
    ));
  }

  .blue-card {
    @include mat.card-overrides((
      elevated-container-color: #8ccdff,
    ));
  }

  .purple-card {
    @include mat.card-overrides((
      elevated-container-color: #cdb1fd,
    ));
  }

  .orange-card {
    @include mat.card-overrides((
      elevated-container-color: #ffc28c,
    ));
  }

  .red-card {
    @include mat.card-overrides((
      elevated-container-color: #ff8c8c,
    ));
  }

  .teal-card {
    @include mat.card-overrides((
      elevated-container-color: #8cffe4,
    ));
  }
}

.blue-background {
  background-color: #8ccdff,
}

.green-background {
  background-color: #b1fdb4,
}

.purple-background {
  background-color: #cdb1fd,
}

.orange-background {
  background-color: #ffc28c,
}

.red-background {
   background-color: #ff8c8c,
}

.teal-background {
   background-color: #8cffe4,
}

.green-fab.mat-mdc-mini-fab {
  background-color: #cfffd0 !important;
  color: #047d08, !important;
}

.purple-fab.mat-mdc-mini-fab {
  background-color: #e4d2f9 !important;
  color: #6703da !important;
}

.orange-fab.mat-mdc-mini-fab {
  background-color: #ffd2aa !important;
  color: #ad5406 !important;
}

.red-fab.mat-mdc-mini-fab {
  background-color: #ffaaaa !important;
  color: #ad0606 !important;
}

.teal-fab.mat-mdc-mini-fab {
  background-color: #aaf2ff !important;
  color: #067bad !important;
}

.grey-fab.mat-mdc-mini-fab {
  background-color: #c8c8c8 !important;
  color: #4e4e4e !important;
}